<?xml version="1.0" encoding="UTF-8" ?>

<web-app>
	<display-name>Archetype Created Web Application</display-name>

	<context-param>
		<param-value>contextConfigLocation</param-value>
		<param-value>/WEB-INF/spring-services.xml</param-value>
	</context-param>

	<servlet>
		<servlet-name>SpringMVC</servlet-name>
		<servlet-class>org.springframework.we.servlet.DispatcherServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>SpringMVC</servlet-name>
		<url-pattern>*.jsp</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>context</servlet-name>
		<servlet-class>org.springframework.web.context.ContextLoaderServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
</web-app>
